In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_excel("Datos de Facturación.xlsx")

In [3]:
valores_nulos2=df.isnull().sum()
valores_nulos2

CVE_DOC              0
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              6
DES_TOT              1
DES_FIN              3
dtype: int64

In [4]:
valores_nulos2=df.isnull().sum().sum()
valores_nulos2

10609

In [5]:
df.drop("FECHA_CANCELA", axis=1, inplace=True)

In [6]:
valores_nulos2=df.isnull()
valores_nulos2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,CAN_TOT,DES_TOT,DES_FIN
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
10890,False,False,False,False,False,False,False,False,False,False,False
10891,False,False,True,False,False,False,False,False,False,False,False
10892,False,False,False,False,False,False,False,False,False,False,False
10893,False,False,False,False,False,False,False,False,False,False,False
10894,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CVE_DOC    10895 non-null  object
 1   CVE_CLPV   10895 non-null  object
 2   STATUS     10886 non-null  object
 3   CVE_VEND   10847 non-null  float64
 4   FECHAELAB  10893 non-null  datetime64[ns]
 5   FECHA_DOC  10894 non-null  datetime64[ns]
 6   FECHA_ENT  10893 non-null  object
 7   FECHA_VEN  10895 non-null  datetime64[ns]
 8   CAN_TOT    10889 non-null  float64
 9   DES_TOT    10894 non-null  float64
 10  DES_FIN    10892 non-null  float64
dtypes: datetime64[ns](3), float64(4), object(4)
memory usage: 936.4+ KB

In [8]:
df.CVE_DOC

0        F29414
1        F29415
2        F29416
3        F29417
4        F29418
          ...
10890    F40306
10891    F40307
10892    F40308
10893    F40309
10894    F40310
Name: CVE_DOC, Length: 10895, dtype: object

In [9]:
null_values = df[df["CVE_DOC"].isnull()]
print(null_values)

Empty DataFrame
Columns: [CVE_DOC, CVE_CLPV, STATUS, CVE_VEND, FECHAELAB, FECHA_DOC, FECHA_ENT, FECHA_VEN, CAN_TOT, DES_TOT, DES_FIN]
Index: []

CVE_DOC FUE MODIFICADO DESDE EL EXCEL YA QUE VIMOS QUE SERIA MAS FACIL POR QUE LAS FACTURAS QUE FALTABAN ERAN PURAMENTE CONTINUAS Y SOLO IDENTIFICADORES ASI QUE SOO SE DIDENTIFICARON LAS LINEAS EN LAS QUE ESTABAN UBICADOS LOS FALTANTES Y SE PROCEDIO A LLENARLOS

In [10]:
valores_nulos2=df.isnull().sum().sum()
valores_nulos2

72

In [11]:
valores_nulos2=df.isnull().sum()
valores_nulos2

CVE_DOC       0
CVE_CLPV      0
STATUS        9
CVE_VEND     48
FECHAELAB     2
FECHA_DOC     1
FECHA_ENT     2
FECHA_VEN     0
CAN_TOT       6
DES_TOT       1
DES_FIN       3
dtype: int64

In [12]:

df["STATUS"].fillna("N", inplace=True)

In [13]:
valores_nulos2=df.isnull().sum()
valores_nulos2

CVE_DOC       0
CVE_CLPV      0
STATUS        0
CVE_VEND     48
FECHAELAB     2
FECHA_DOC     1
FECHA_ENT     2
FECHA_VEN     0
CAN_TOT       6
DES_TOT       1
DES_FIN       3
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CVE_DOC    10895 non-null  object
 1   CVE_CLPV   10895 non-null  object
 2   STATUS     10895 non-null  object
 3   CVE_VEND   10847 non-null  float64
 4   FECHAELAB  10893 non-null  datetime64[ns]
 5   FECHA_DOC  10894 non-null  datetime64[ns]
 6   FECHA_ENT  10893 non-null  object
 7   FECHA_VEN  10895 non-null  datetime64[ns]
 8   CAN_TOT    10889 non-null  float64
 9   DES_TOT    10894 non-null  float64
 10  DES_FIN    10892 non-null  float64
dtypes: datetime64[ns](3), float64(4), object(4)
memory usage: 936.4+ KB

In [15]:
x=0
df["CVE_VEND"].fillna(x,inplace = True)
print(df.isnull().sum())

CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    2
FECHA_DOC    1
FECHA_ENT    2
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [16]:
x=df["FECHAELAB"].mode()
print("Mode is: ", x)
df["FECHAELAB"].fillna(x,inplace = True)
print(df.isnull().sum())

Mode is:  0       2019-09-03 08:58:42.000
1       2019-09-03 09:55:14.000
2       2019-09-03 13:25:33.000
3       2019-09-03 13:33:23.000
4       2019-09-03 14:23:45.000
                  ...
10888   2023-03-06 16:09:39.013
10889   2023-03-06 16:38:42.933
10890   2023-03-06 17:02:33.390
10891   2023-03-07 12:43:49.567
10892   2023-03-07 12:45:58.407
Name: FECHAELAB, Length: 10893, dtype: datetime64[ns]
CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    1
FECHA_ENT    2
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [17]:
x=df["FECHA_DOC"].mode()
print("Mode is: ", x)
df["FECHA_DOC"].fillna(0,inplace = True)
print(df.isnull().sum())

Mode is:  0   2020-02-28
Name: FECHA_DOC, dtype: datetime64[ns]
CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    2
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [18]:
x=df["FECHA_ENT"].mode()
print("Mode is: ", x)
df["FECHA_ENT"].fillna(0,inplace = True)
print(df.isnull().sum())

Mode is:  0   2020-02-28
Name: FECHA_ENT, dtype: datetime64[ns]
CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    0
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [19]:
x=df["CAN_TOT"].mean()
print("Mode is: ", x)
df["CAN_TOT"].fillna(x,inplace = True)
print(df.isnull().sum())

Mode is:  4518.2255277732565
CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    0
FECHA_VEN    0
CAN_TOT      0
DES_TOT      1
DES_FIN      3
dtype: int64

In [20]:
x=df["DES_TOT"].mean()
print("Mode is: ", x)
df["DES_TOT"].fillna(x,inplace = True)
print(df.isnull().sum())

Mode is:  18.258288048467048
CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    0
FECHA_VEN    0
CAN_TOT      0
DES_TOT      0
DES_FIN      3
dtype: int64

In [21]:
x=df["DES_FIN"].mean()
print("Mode is: ", x)
df["DES_FIN"].fillna(x,inplace = True)
print(df.isnull().sum())

Mode is:  0.0
CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    0
FECHA_VEN    0
CAN_TOT      0
DES_TOT      0
DES_FIN      0
dtype: int64

TODOS LOS DATOS DE "Datos de Facturación" QUE ERAN FECHA FUERON SUSTITUIDOS POR MODA YA QUE ES LA FORMA MAS PLAUSIBLE DE HACERLO POR LAS MEDIDAS ARITMETICAS, LOS DATOS QUE SON CANTIDADES POR MEDIA YA QUE LA MODA ERA 0 PERO LA MEDIA SI ERA REALMENTE DIFERENTE EN VARIOS DE ELLOS

In [22]:
df2=pd.read_excel("Detalle precios y productos fabricados 2022.xlsx")

In [23]:
valores_nulos2=df2.isnull().sum()
valores_nulos2

CVE_DOC                      3
FECHA_DOC                    3
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [24]:
valores_nulos2=df2.isnull().sum().sum()
valores_nulos2

21

In [25]:
null_values2 = df2[df2["CVE_DOC"].isnull()]
print(null_values2)

    CVE_DOC  FECHA_DOC            NOMBRE_VENDEDOR         NOMBRE_CLIENTE  \
670     NaN 2022-06-09  LETICIA RAMIREZ HERNANDEZ  KARINA AGUILAR TORRES
679     NaN 2022-06-14  LETICIA RAMIREZ HERNANDEZ          JT RESIDENCES
683     NaN 2022-06-15  LETICIA RAMIREZ HERNANDEZ  DANIEL CRUZ HERNANDEZ

     CANT       CVE_ART                                     DESCR  \
670   4.0        TP0012  TERMOPAR CERAMICO T/ K" LONG 12" CAL.14"
679   4.0      TUS00005  TUB INOX716Øx1421mm LONG "M" 3000W/220V"
683   3.0  CS14D2017B20   CAS INOX 1/4"ØX2" 175W240V EXT30CM C/TJ

     PRECIO_UNITARIO  COSTO_UNITARIO  COSTO_UNITARIO_CALCULADO  \
670           375.00           54.80                     54.80
679           799.10          174.94                    174.94
683           812.53            0.00                    111.07

     SUBTOTAL_PARTIDA  COSTO_TOTAL_CALCULADO  MARGEN_UNITARIO_CALCULADO  \
670           1500.00                 219.20                     320.20
679           3196.40                 699.77                     624.16
683           2437.59                 333.20                     701.46

     MARGEN_TOTAL_CALCULADO
670                 1280.80
679                 2496.63
683                 2104.39

In [26]:
df2["CVE_DOC"].fillna("UNKNOWN",inplace = True)
print(df2.isnull().sum())

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [27]:
df2["NOMBRE_CLIENTE"].fillna("UNKNOWN",inplace = True)
print(df2.isnull().sum())

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               0
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [28]:
df2["NOMBRE_VENDEDOR"].fillna("UNKNOWN",inplace = True)
print(df2.isnull().sum())

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [29]:
x=df2["CANT"].mean()
df2["CANT"].fillna(x,inplace = True)
print(df2.isnull().sum())

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [30]:
x=df2["FECHA_DOC"].mode()
print(x)
df2["FECHA_DOC"].fillna("2022-02-28",inplace = True)
print(df2.isnull().sum())

0   2022-02-28
Name: FECHA_DOC, dtype: datetime64[ns]
CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [31]:

df2["CVE_ART"].fillna("UNKNOWN",inplace = True)
print(df2.isnull().sum())

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [32]:
df2["DESCR"].fillna("UNKNOWN",inplace = True)
print(df2.isnull().sum())

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [33]:
null_values = df2[df2["PRECIO_UNITARIO"].isnull()]
print(null_values)

Empty DataFrame
Columns: [CVE_DOC, FECHA_DOC, NOMBRE_VENDEDOR, NOMBRE_CLIENTE, CANT, CVE_ART, DESCR, PRECIO_UNITARIO, COSTO_UNITARIO, COSTO_UNITARIO_CALCULADO, SUBTOTAL_PARTIDA, COSTO_TOTAL_CALCULADO, MARGEN_UNITARIO_CALCULADO, MARGEN_TOTAL_CALCULADO]
Index: []

In [34]:
null_values = df2[df2["COSTO_UNITARIO"].isnull()]
print(null_values)

Empty DataFrame
Columns: [CVE_DOC, FECHA_DOC, NOMBRE_VENDEDOR, NOMBRE_CLIENTE, CANT, CVE_ART, DESCR, PRECIO_UNITARIO, COSTO_UNITARIO, COSTO_UNITARIO_CALCULADO, SUBTOTAL_PARTIDA, COSTO_TOTAL_CALCULADO, MARGEN_UNITARIO_CALCULADO, MARGEN_TOTAL_CALCULADO]
Index: []

In [35]:
null_values = df2[df2["COSTO_UNITARIO_CALCULADO"].isnull()]
print(null_values)

Empty DataFrame
Columns: [CVE_DOC, FECHA_DOC, NOMBRE_VENDEDOR, NOMBRE_CLIENTE, CANT, CVE_ART, DESCR, PRECIO_UNITARIO, COSTO_UNITARIO, COSTO_UNITARIO_CALCULADO, SUBTOTAL_PARTIDA, COSTO_TOTAL_CALCULADO, MARGEN_UNITARIO_CALCULADO, MARGEN_TOTAL_CALCULADO]
Index: []

In [36]:
null_values = df2[df2["SUBTOTAL_PARTIDA"].isnull()]
print(null_values)

Empty DataFrame
Columns: [CVE_DOC, FECHA_DOC, NOMBRE_VENDEDOR, NOMBRE_CLIENTE, CANT, CVE_ART, DESCR, PRECIO_UNITARIO, COSTO_UNITARIO, COSTO_UNITARIO_CALCULADO, SUBTOTAL_PARTIDA, COSTO_TOTAL_CALCULADO, MARGEN_UNITARIO_CALCULADO, MARGEN_TOTAL_CALCULADO]
Index: []

**LOS ULTIMOS DATOS DE COSTO_TOTAL_UNITARIO, PRECIO_TOTAL_UNITARIO, SUBTOTAL_PARTIDA, COSTO_TOTAL_UNITARIO_CALCULADO Y PRECIO_TOTAL_UNITARIO_CALCULADO FUERON MODIFICADOS EN EL EXCEL CON LAS FORMULAS CORRESPONDIENTES YA QUE LOS DE MAS DATOS APOYABAN A ESTOS MISMOS A PODER SER COMPLETADOS DE LA MANERA QUE LES CORRESPONDIA**

In [37]:
print(df2.isnull().sum())

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [38]:
df.to_csv("Datos_de_Facturación_Limpio.csv")
df2.to_csv("Detalle_Precios_Productos_Fabricados.csv")