In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df=pd.read_excel("Datos de Facturación.xlsx")

In [7]:
valores_nulos2=df.isnull().sum()
valores_nulos2

CVE_DOC              5
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              6
DES_TOT              1
DES_FIN              3
dtype: int64

In [6]:
valores_nulos2=df.isnull().sum().sum()
valores_nulos2

10614

In [8]:
df.drop("FECHA_CANCELA", axis=1, inplace=True)

In [14]:
valores_nulos2=df.isnull()
valores_nulos2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,CAN_TOT,DES_TOT,DES_FIN
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
10890,False,False,False,False,False,False,False,False,False,False,False
10891,False,False,True,False,False,False,False,False,False,False,False
10892,True,False,False,False,False,False,False,False,False,False,False
10893,False,False,False,False,False,False,False,False,False,False,False
10894,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CVE_DOC    10890 non-null  object
 1   CVE_CLPV   10895 non-null  object
 2   STATUS     10886 non-null  object
 3   CVE_VEND   10847 non-null  float64
 4   FECHAELAB  10893 non-null  datetime64[ns]
 5   FECHA_DOC  10894 non-null  datetime64[ns]
 6   FECHA_ENT  10893 non-null  object
 7   FECHA_VEN  10895 non-null  datetime64[ns]
 8   CAN_TOT    10889 non-null  float64
 9   DES_TOT    10894 non-null  float64
 10  DES_FIN    10892 non-null  float64
dtypes: datetime64[ns](3), float64(4), object(4)
memory usage: 936.4+ KB

In [13]:
df.CVE_DOC

0        F29414
1        F29415
2        F29416
3        F29417
4        F29418
          ...
10890    F40306
10891    F40307
10892       NaN
10893    F40309
10894    F40310
Name: CVE_DOC, Length: 10895, dtype: object

In [16]:
null_values = df[df["CVE_DOC"].isnull()]
print(null_values)

      CVE_DOC    CVE_CLPV STATUS  CVE_VEND               FECHAELAB  FECHA_DOC  \
105       NaN        5926      E       2.0 2019-09-17 14:51:50.000 2019-09-17
4592      NaN        5045      E       2.0 2021-01-27 15:14:51.387 2021-01-27
4606      NaN        3919      E       2.0 2021-01-28 10:32:08.710 2021-01-28
9867      NaN        5814      E       2.0 2022-10-12 09:43:00.827 2022-10-12
10892     NaN        5926      E       2.0 2023-03-06 17:02:33.390 2023-03-06

                 FECHA_ENT  FECHA_VEN   CAN_TOT  DES_TOT  DES_FIN
105    2019-09-17 00:00:00 2019-09-17   595.020      0.0      0.0
4592   2021-01-19 00:00:00 2021-01-27  4201.612      0.0      0.0
4606   2021-01-28 00:00:00 2021-01-28   870.000      0.0      0.0
9867   2022-10-12 00:00:00 2022-10-12  1406.140      0.0      0.0
10892  2023-03-06 00:00:00 2023-03-06   275.680      0.0      0.0

CVE_DOC FUE MODIFICADO DESDE EL EXCEL YA QUE VIMOS QUE SERIA MAS FACIL POR QUE LAS FACTURAS QUE FALTABAN ERAN PURAMENTE CONTINUAS Y SOLO IDENTIFICADORES ASI QUE SOO SE DIDENTIFICARON LAS LINEAS EN LAS QUE ESTABAN UBICADOS LOS FALTANTES Y SE PROCEDIO A LLENARLOS